.bot-card {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    text-align: center;
    width: 200px;
  }
  
  .bot-collection,
  .bot-army {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  